header {
  padding: 1.5rem 2rem 0;
  margin: 0 auto;
  height: 70px;
  display: flex;
  border-bottom: 1px solid $grayish-blue;
  .icon-menu {
    margin-right: 1rem;
  }


  .cart-avatar {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    .avatar {
      margin-top: -0.2rem;
      width: 25px;
      border-radius: 50%;
      &:hover {
        border: 2px solid $orange;
      }
    }
    .cart-container{
        position: relative;
        p{
            position: absolute;
            padding: 0 0.5rem;
            top:0;
            right:0;
            z-index: 10;
            transform: translate(50%,-50%);
            border-radius: 50px;
            background-color: $orange;
            color:$white;
        }
    }
  }
}

nav {
  position: fixed;
  inset: 0 0 0 0%;
  background-color: rgba($black, 0.25);
  transform: translateX(-100%);
  transition: transform 350ms ease-out;
  z-index: 99;
  .icon-close{
      margin:2rem 0 3rem 0rem;
  }
  ul {
    padding:0rem 2rem;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $white;
    li {
      cursor: pointer;
      list-style: none;
      color: $black;
      font-weight: 700;
      transition: border 200ms ease-out;
      &:hover {
        border-bottom: 4px solid $orange;
      }
    }
  }
}
.nav-active{
transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  header{
   padding:1.5rem 4rem 0;
    .icon-menu{
      display: none;
    }
    .cart-avatar{
      gap:2rem;
      .avatar{
        margin-top: -0.4rem;
        width: 30px;
      }
    }
  }
   nav{
      position: unset;
      transform: translateX(0);
      background-color: unset;
      .icon-close{
        display: none;
      }
      ul{
        flex-direction: row;
        width: 100%;
        background-color:unset;
        li{
          color:$dark-grayish-blue;
          font-weight: unset;
        }
        
      }

    }
}
@media screen and (min-width: 1024px) {
  header{
    padding:0;
    margin:1.5rem 6rem 0;
  }
  
}
